/* Import Google font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #a242bd;
}
.wrapper {
  width: 65vmin;
  height: 70vmin;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
  background: #a270bd;
  box-shadow: 0 20px 40px #a242bd;
}
.game-details {
  color: #B8C6DC;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px 27px;
  display: flex;
  justify-content: space-between;
}
.play-board {
  height: 100%;
  width: 100%;
  display: grid;
  background: #E3F2FD;
  grid-template: repeat(30, 1fr) / repeat(30, 1fr);
}
.play-board .food {
  background: #FF003D;
}
.play-board .head {
  background: green;
}
.controls {
  display: none;
  justify-content: space-between;
}
.controls i {
  padding: 25px 0;
  text-align: center;
  font-size: 1.3rem;
  color: #B8C6DC;
  width: calc(100% / 4);
  cursor: pointer;
  border-right: 1px solid #171B26;
}
.contenedor{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

  }
  .boton{
   margin-top: 20px;
  }
  button {
    font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  background: #fff;
  border-radius: 5px;
  color: #a242bd;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 30px;
  }



  .game-over-card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border-radius: 10px;
}

.game-over-card h2 {
    margin: 0 0 10px;
}

.game-over-card p {
    margin: 10px 0;
}

.game-over-card button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.game-over-card button:hover {
    background-color: #d32f2f;
}
@media  screen and (max-width: 800px) {
  .wrapper {
    width: 90vmin;
    height: 115vmin;
  }
  .game-details {
    font-size: 1rem;
    padding: 15px 27px;
  }
  .controls {
    display: flex;
  }
  .controls i {
    padding: 15px 0;
    font-size: 1rem;
  }
.contenedor{
    margin: auto;
    width: 90%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;

  }
.boton{
   margin-top: 20px;
  }
button {
    font-size: 18px;
  font-weight: 500;
  padding: 8px 20px;
  border: none;
  background: #fff;
  border-radius: 5px;
  color: #a242bd;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 30px;
  }
  

}






